/* Add a black background color to the top navigation */
.top-nav {
  background-color: #333333;
  overflow: hidden;
}

/* Style the links inside the top navigation bar */
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.top-nav a:hover {
  background-color: #dddddd;
  color: #000000;
}

/* Add a color to the active/current link */
.top-nav a.active {
  background-color: #000000;
  color: #dddddd;
}

/* Add a brown background color to the bottom navigation */
.bottom-nav {
  background-color: rgb(50, 12, 12);
  overflow: hidden;
}

/* Style the links inside the bottom navigation bar */
.bottom-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.bottom-nav a:hover {
  background-color: #dddddd;
  color: #000000;
}

/* Add a color to the active/current link */
.bottom-nav a.active {
  background-color: #000000;
  color: #dddddd;
}

.nav-image {
  width: 15px;
}
