/* Add a black background color to the top navigation */
.topnav {
  background-color: #333333;
  overflow: hidden;
}

/* Style the links inside the top navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dddddd;
  color: #000000;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: #dddddd;
}

/* Add a brown background color to the bottom navigation */
.bottomNav {
  background-color: rgb(50, 12, 12);
  overflow: hidden;
}

/* Style the links inside the bottom navigation bar */
.bottomNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.bottomNav a:hover {
  background-color: #dddddd;
  color: #000000;
}

/* Add a color to the active/current link */
.bottomNav a.active {
  background-color: #000000;
  color: #dddddd;
}

.navImage {
  width: 15px;
}
