body {
    background-color: #cdc6bb;
    font-family: system-ui;
}

h1, h2, h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 275px;
}

input {
    font-size: 25px;
    height: 35px; 
    margin: 5px;
    width: 500px;
}

textarea {
    font-size: 25px;
    width: 500px;
    height: 80px;
    margin: 5px;
}

select {
    font-size: 25px;
    height: 35px; 
    margin: 5px;
    width: 500px;
}    

.button {
    margin-top: 5px;
    margin-bottom: 100px;
    background-color: #212529;
    border: 1px #212529;
    color: #f8f9fa;
    cursor: pointer;
    height: 50px;
    width: 500px;
    font-weight: bold;
    font-size: large;
}

label {
    font-size: xx-large;
}

p {
    font-size: xx-large;
    font-weight: bold;
}

.work-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.work-image {
    width: 50px;
}
