.buttons {
    display: flex;
    justify-content: center;
}

.add {
    color: #f8f9fa;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    width: 275px;
    justify-content: center;
    background-color: #198754;
}

.add:hover {
    color: #f8f9fa;
    background-color: #157347;
}

a {
    text-decoration: none;
    color: #212529;
}
